@page "/at"
@* @implements IRazorComponentApplication<Authentication>
 *@
<html>
<head>
    <title>Blazor Component</title>
</head>
<body>
    <h3>Authentication</h3>
    <p>@DateTime.UtcNow</p>
</body>
</html>

@code {

}
